/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/


h1, h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

h5 {
  padding: 1% 2%;
  border-radius: 5px;
  background-color: rgba(141, 141, 170, 0.5);
}

h3, p, form {
  margin-top: 2%;
  margin-bottom: 2%;
}

.preview-img {
  float: right;
  width: 30%;
  margin-left: 5%;
  margin-right: 10%;
  border-radius: 20px;
}

.carousel {
  width: 30%;
  margin: auto;
}

.carousel img {
  border-radius: 50% 50% 10px 10px;
}


 

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
li {
  list-style-type: none;
}

p {
  font-weight: 400;
  font-size: medium;
}

.hidden {
  display: none;
}




